<!DOCTYPE html>
<html>
  <head>
    <title>USW DS BACKEND</title>
  </head>
  <body>
    <h1><%= heading %></h1>

    <% if(showText == true){ %>
    <h4>Hello World!</h4>
    <% } %>
  </body>
</html>
